.intro__list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  max-width: 690px;
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    margin: 34px auto 0;
  }
}