.lead {
  max-width: 984px;
  margin: 0 auto;
  border: 0;
  padding-top: 56px;
  color: #fff;
}


@media screen and (max-width: 1024px){
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 768px){
  .lead {
    max-width: 768px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px){
  .lead {
    max-width: 320px;
    padding-top: 48px;
  }
}