.footer__link-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .footer__link-item {
    font-size: 13px;
    line-height: 13px;
  }
}

@media screen and (min-width:320px) and (max-width: 375px) {
  .footer__link-item {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
}

.footer__link-item:hover {
  opacity: .7;
}

.footer__link-item:not(:last-child) {
  margin: 0 18px 0 0;
}